* {
  box-sizing: border-box;
}

html {
  font-family: pretendard;
  word-break: keep-all;
  font-size: 16px;
  overflow-x: hidden;
  letter-spacing: -1.5px;
}

body {
  margin: 0;
  line-height: 1.7;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 970px;
  background-image: url(../Img/Dokdo.jpg);
  background-size: 100% 100%;
  border-radius: 0 0 200px 0;
  margin-bottom: 100px;
}

.wrap-button {
  width: 85%;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 140px;
}

.wrap-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #000;
  border: 0;
  border-radius: 50px;
  opacity: 0.3;
}

.btn-center {
  border: 3px solid #fff;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  width: 200px;
  height: 70px;
  border-radius: 50px;
  background-color: transparent;
  position: relative;
  top: 25%;
}

.btn-cicle {
  color: #fff;
  font-size: 18px;
  position: relative;
  left: 32%;
  top: 40%;
  background-color: #09847f;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wrap-btn > p {
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}

.wrap > div > p {
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.bgTextImg {
  width: 480px;
  height: 230px;
  position: relative;
  top: 230px;
}

.wrap > div > p {
  position: relative;
  top: 280px;
}

.nav-img {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 0 0 200px;
}

.nav {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.nav-menu {
  display: flex;
  align-items: center;
  margin: 0;
  list-style: none;
  gap: 50px;
  color: #fff;
  font-size: 18px;
  font-weight: 550;
}

.menu-list {
  height: 100%;
  display: flex;
  align-items: center;
}

.list-a {
  text-decoration: none;
  color: #fff;
}

.nav-end {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 200px 0 0;
}

.end-text {
  font-size: 14px;
  font-weight: 400;
  padding: 3px;
  text-decoration: none;
  color: #fff;
}
.nav-btn {
  width: 30px;
  height: 100px;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  margin: 0 10px;
  display: none;
}
.btn-line {
  width: 30px;
  height: 3px;
  background-color: #fff;
}

.nev-border {
  width: 100%;
  border-bottom: 1px solid #ffffff26;
}

.contents {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.content1 {
  background-image: url(../Img/img_dokdo.png);
  background-color: #f8f8f8;
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 80px 70px;
  width: 700px;
  height: 445px;
  border-radius: 50px;
}

.content1 > h3 {
  font-weight: 700;
}

.content1 > p {
  padding: 20px 0 80px 0;
}
.content1 > button {
  border: 3px solid #09847f;
  color: #09847f;
  font-weight: 600;
  font-size: 14px;
  border-radius: 50px;
  width: 175px;
  height: 60px;
}

.content2 > div {
  padding: 10px 0;
  display: flex;
  border-bottom: 1px dotted #999999;
}

.content2 > div > h3 {
  margin: 0 20px;
}

.footer {
  height: 100%;
}

.footer-img {
  background-image: url(../Img/bg_banner.jpg);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 680px;
  border-radius: 200px 0 0 0;
}

.footer-text {
  z-index: 1px;
  font-size: 32px;
  color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
  top: 220px;
}

.text-img {
  width: 200px;
  height: 80px;
  position: relative;
  top: 200px;
}

.footer-inn {
  background-color: #393846;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  padding: 30px;
}
.footer-adress {
  z-index: 2;
  color: #fff;
  padding: 50px 0 30px 0;
}

.footer-ul {
  font-size: 13px;
  list-style: none;
  display: flex;
  gap: 8px;
  padding: 0;
  margin: 0 0 15px 120px;
}

.footer-a {
  color: #fff;
  /* list-style: none; */
  text-decoration: none;
}
.footer-p {
  font-size: 15px;
  margin: 0 0 0 120px;
  color: #999999;
}
.footer-btn {
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 170px;
  height: 170px;
  background-color: #09847f;
  border-radius: 50%;
  position: absolute;
  right: 380px;
}
.footer-btn2 {
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 170px;
  height: 170px;
  background-color: #b4613d;
  border-radius: 50%;
  position: absolute;
  right: 180px;
}

@media screen and (max-width: 1860px) {
  .header-footer {
    display: flex;
    border-radius: 30px 0 30px 0;
  }

  /* .headFoot-text {
    height: auto;
    width: auto;
  } */
  .nav {
    margin: auto;
  }
  .nav-img {
    margin: auto;
  }
  .nav-menu {
    font-size: 14px;
  }

  .nav-end {
    margin: auto;
  }
  .nev-border {
    height: 1px;
  }
}

@media screen and (max-width: 1024px) {
  /* 화면 너비가 1024px 이하인 경우에만 적용되는 스타일 */
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .nav-menu {
    display: none;
  }

  .nav-img {
    margin: 0;
  }
  .nav-end {
    margin: 0;
  }
  .nav-btn {
    display: flex;
  }
}

@media screen and (max-width: 468px) {
  htlm {
    height: auto;
    width: auto;
  }
  img {
    margin: 0 20px;
    width: 200px;
    height: 30px;
  }
  .end-text {
    display: none;
  }
}
