* {
  box-sizing: border-box;
}

html {
  word-break: keep-all;
  font-size: 16px;
  line-height: 1.7;
}

body {
  margin: 0;
}

.nav-logo {
  width: 170px;
  height: 54px;
}

.nav {
  display: flex;
}
